<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Condez_SIS_v2.Properties.Settings.DcondezSISDBConnectionString"
            connectionString="Data Source=DESKTOP-G6J8QFP\SQLEXPRESS01;Initial Catalog=DcondezSISDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>